html, body {
    /*background-image:url();*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

footer{
    position: relative;
}
.container {
    height: 100%;
    align-content: center;
    }

.card {
    height:100%;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.11);
}
th {
    text-align: center;
    color:rgb(255,255,255);
}
td{
    color:rgb(255,255,255);
}

.btn-primary{
    background-color: rgb(86, 198, 198);
    float:right;
}
.btn-light{
    background-color: rgb(86, 198, 198);
}
.mb-0{
    color:rgb(255,255,255);
}
.card-header{
    background-color:rgba(255,255,255,0.03);
}