html, body {
  /*background-image:url();*/
  background-size:cover;
  background-repeat:no-repeat;
  height:100%;
  font-family:'Numans', sans-serif;
}

.container {
  height:100%;
  align-content:center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 930px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.links {
  color:white;
}

.links a {
  margin-left:4px;
}

